@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-gradient {
  background: radial-gradient(
    circle 100px,
    rgb(214, 104, 231),
    rgba(0, 0, 0, 0)
  );
}

@media (min-width: 375px) {
  .scale-2_1 {
    transform: scale(2.1);
  }

  .scale-5_8 {
    transform: scale(5.8);
  }
}
